<h1>Import {{bank}} staged. </h1>
<h3>Check import and submit if everything looks good</h3>
<table>
    <tr>
        <td>Bank</td>
        <td>{{ snapshot.bank }}</td>
    </tr>
    <tr>
        <td>Account ID</td>
        <td>{{ snapshot.account }}</td>
    </tr>
    <tr>
        <td>Snapshot Date</td>
        <td>{{ snapshot.date }}</td>
    </tr>
    <tr>
        <td>Balance</td>
        <td>{{ snapshot.balance }}</td>
    </tr>
    <tr>
        <td>Import ID</td>
        <td>{{ snapshot.importId }}</td>
    </tr>
</table>
<p>Imported {{ newTransactions.length }} transactions</p>
{{>transaction-table transactions=newTransactions}}
<hr>
<p>Not imported {{ duplicateTransactions.length }} transactions</p>
{{>transaction-table transactions=duplicateTransactions}}
<div class="actions">
    <a class="pure-button" style="background-color: orange;" href="/import/csv/staged/{{ id }}/cancel">Cancel Import</a>
    <a class="pure-button" style="background-color: lightgreen;" href="/import/csv/staged/{{ id }}/ok">Everything ok</a>
</div>